@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book review hub!</h1>
    <p>This is a softuni project by Stanislav Stoychev for book reviews.</p>
</div>
